In [295]:
import pandas as pd
import numpy as np
import requests
import json
import pickle
from dateutil import rrule
import datetime as dt
from datetime import datetime, timedelta

In [67]:
url = 'http://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2016-01-01&endtime=2016-01-31'
data = '{"query":{"bool":{"must":[{"text":{"record.document":"SOME_JOURNAL"}},{"text":{"record.articleTitle":"farmers"}}],"must_not":[],"should":[]}},"from":0,"size":50,"sort":[],"facets":{}}'
response = requests.get(url, data=None)
data = geojson.loads(response.text)

In [10]:
data = json.loads(response.text)

In [13]:
data = response.json()

Point
[-122.7747, 38.8377, 2.8]

In [32]:
data = geojson.loads(response.text)

In [22]:
for feature in data['features']:
    print(feature['geometry']['type'])
    print(feature['geometry']['coordinates'])
    break

Point
[-122.7747, 38.8377, 2.8]

In [27]:
type(data)

geojson.feature.FeatureCollection

In [28]:
for indx, feature in enumerate(data):
    print(feature)
    break

type

In [66]:
len(data.features)

AttributeError: 'str' object has no attribute 'features'

In [39]:
# https://wiki.python.org/moin/UsingPickle
pickle.dump(data, open("earthquake_Jan2016.p", "wb" ))
# favorite_color = pickle.load( open( "save.p", "rb" ) )

In [40]:
url = 'http://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2016-01-01&endtime=2016-12-31'
data = '{"query":{"bool":{"must":[{"text":{"record.document":"SOME_JOURNAL"}},{"text":{"record.articleTitle":"farmers"}}],"must_not":[],"should":[]}},"from":0,"size":50,"sort":[],"facets":{}}'
response = requests.get(url, data=None)
data = geojson.loads(response.text)

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [75]:
start = datetime(2016, 1, 1, 0, 0)
months = list(rrule.rrule(rrule.MONTHLY, count=13, dtstart=start))    

annual_earthquakes = list()

for i in range(len(months)-1):
    date = months[i]
    print(str(date.date()), str((months[i+1] - timedelta(days=1)).date()))
    url = 'http://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime='+str(date.date())+'&endtime=' + str((months[i+1]-timedelta(days=1)).date())
#     http://stackoverflow.com/questions/17301938/making-a-request-to-a-restful-api-using-python
    response = requests.get(url, data=None)
    data = geojson.loads(response.text)
    annual_earthquakes.extend(data.features)

2016-01-01 2016-01-31
2016-02-01 2016-02-29
2016-03-01 2016-03-31
2016-04-01 2016-04-30
2016-05-01 2016-05-31
2016-06-01 2016-06-30
2016-07-01 2016-07-31
2016-08-01 2016-08-31
2016-09-01 2016-09-30
2016-10-01 2016-10-31
2016-11-01 2016-11-30
2016-12-01 2016-12-31

In [80]:
len(annual_earthquakes)

97356

In [78]:
pickle.dump(annual_earthquakes, open("earthquake_2016.p", "wb" ))

In [70]:
ft1[0]

{"geometry": {"coordinates": [-122.8478317, 38.836834, 2.65], "type": "Point"}, "id": "nc72586646", "properties": {"alert": null, "cdi": null, "code": "72586646", "detail": "http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc72586646&format=geojson", "dmin": 0.009799, "felt": null, "gap": 143, "ids": ",nc72586646,", "mag": 0.43, "magType": "md", "mmi": null, "net": "nc", "nst": 7, "place": "10km W of Cobb, California", "rms": 0.03, "sig": 3, "sources": ",nc,", "status": "automatic", "time": 1454198395340, "title": "M 0.4 - 10km W of Cobb, California", "tsunami": 0, "type": "earthquake", "types": ",general-link,geoserve,nearby-cities,origin,phase-data,scitech-link,", "tz": -480, "updated": 1454201165963, "url": "http://earthquake.usgs.gov/earthquakes/eventpage/nc72586646"}, "type": "Feature"}

In [71]:
data.features.append(ft1[0])

In [84]:
len(data.features)

9615

In [73]:
data.features.extend(ft1)

In [81]:
# pickle.dump(data, open("earthquake_Jan2016.p", "wb" ))
data = pickle.load( open( "earthquake_Jan2016.p", "rb" ) )

In [83]:
len(data.features)

9615

In [109]:
list(data.features[0].properties.values())

[1454201165963,
 'nc',
 0,
 None,
 'http://earthquake.usgs.gov/earthquakes/eventpage/nc72586646',
 '72586646',
 143,
 None,
 'M 0.4 - 10km W of Cobb, California',
 7,
 'http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc72586646&format=geojson',
 ',general-link,geoserve,nearby-cities,origin,phase-data,scitech-link,',
 '10km W of Cobb, California',
 1454198395340,
 -480,
 0.009799,
 0.43,
 'earthquake',
 None,
 ',nc72586646,',
 0.03,
 'md',
 None,
 'automatic',
 3,
 ',nc,']

In [152]:
proplist = list()
proplist.append(list(annual_earthquakes[0].properties.keys()))
for indx, quake in enumerate(annual_earthquakes):
    proplist.append(list(quake.properties.values()))
np_proplist = np.array(proplist).astype(np.str)
np.savetxt('earthquake.tsv', np_proplist, delimiter="\t", fmt='%s')

In [154]:
cnt = 0
proplist = list()
proplist.append(list(annual_earthquakes[0].properties.keys()))
for indx, quake in enumerate(annual_earthquakes):
    if(cnt==1000):
        break
    else:
        proplist.append(list(quake.properties.values()))
        cnt += 1
np_proplist = np.array(proplist).astype(np.str)
np.savetxt('earthquake_Jan2016_smaller.tsv', np_proplist, delimiter="\t", fmt='%s')

In [118]:
proplist.append(list(data.features[0].properties.keys()))
proplist.append(list(data.features[0].properties.values()))
proplist.append(list(data.features[1].properties.values()))

In [216]:
np_proplist = np.array(proplist).astype(np.str)

In [148]:
# with open('earthquake.csv','wb') as f:
# #     np.savetxt(f,x,fmt='%.5f')
np.savetxt('earthquake.tsv', np_proplist, delimiter="\t", fmt='%s')

In [218]:
cnt = 0
proplist = list()
proplist.append(list(annual_earthquakes[0].properties.keys()))
for indx, quake in enumerate(annual_earthquakes):
    proplist.append(list(quake.properties.values()))
np_proplist = np.array(proplist).astype(np.str)

In [231]:
df = pd.DataFrame(np_proplist[1:],columns=list(np_proplist[0]))
df = df.set_index('time')
# df.index = (df.index/1000).astype(np.int64)
df.index = pd.to_datetime(df.index ,unit='ms')
eq_sorted = df.sort_index()

In [338]:
# eq_sorted[['net','tsunami','felt','code','magType','nst','dmin','mag','type','rms','ids','gap','alert','status','sig','title','cdi']]

In [374]:
df = df.convert_objects(convert_numeric=True)
# http://stackoverflow.com/questions/24082784/pandas-dataframe-groupby-datetime-month
pdg = pd.groupby(df,by=[df.index.month,df.index.year])

C:\Python35\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':

In [380]:
pdg.sig.mean()

1   2016    75.008112
2   2016    68.792117
3   2016    61.757333
4   2016    77.674478
5   2016    67.758718
6   2016    63.765804
7   2016    69.153342
8   2016    71.705621
9   2016    73.447132
10  2016    54.434347
11  2016    58.038462
Name: sig, dtype: float64

In [369]:
type(df[['mag']].ix[0,0])

numpy.float64

In [373]:
df[['mag']].mean()

mag    1.66139
dtype: float64

In [182]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [183]:

df.index.name = 'time'
df[0:3]

                   A         B         C         D
time
2013-01-01 -1.132757 -0.407525  0.835768 -2.194102
2013-01-02  0.721517  1.968180 -1.765901  0.722515
2013-01-03  0.520640  0.221484  0.307001 -0.019705

In [208]:
df.ix[-1]

updated                                        1460156778040
net                                                       us
tsunami                                                    0
felt                                                    None
url        http://earthquake.usgs.gov/earthquakes/eventpa...
code                                                20004v82
mmi                                                     None
magType                                                   mb
nst                                                     None
detail     http://earthquake.usgs.gov/fdsnws/event/1/quer...
types      ,geoserve,nearby-cities,origin,phase-data,tect...
dmin                                                   1.383
tz                                                       600
place                  138km SSW of Kokopo, Papua New Guinea
mag                                                      4.4
type                                              earthquake
rms                                                     0.67
cdi                                                     None
ids                                             ,us20004v82,
sources                                                 ,us,
gap                                                       89
alert                                                   None
status                                              reviewed
sig                                                      298
title          M 4.4 - 138km SSW of Kokopo, Papua New Guinea
Name: 2016-01-28 01:50:13, dtype: object

In [268]:
df = result

In [275]:
len(df[df.felt != 'None'])

14627

In [280]:
df[df.felt != 'None'][['felt']]

                         felt
time
2016-01-01 00:30:04.900     0
2016-01-01 00:37:53.000     1
2016-01-01 00:37:58.700     0
2016-01-01 02:00:39.950     0
2016-01-01 02:06:45.820     3
2016-01-01 02:36:58.930     0
2016-01-01 03:13:20.800     1
2016-01-01 03:26:08.910     0
2016-01-01 03:29:31.800     5
2016-01-01 04:47:11.480     5
2016-01-01 05:10:42.000     0
2016-01-01 05:28:57.000     0
2016-01-01 05:46:17.430     0
2016-01-01 06:03:32.400     0
2016-01-01 06:57:19.500     7
2016-01-01 07:45:46.000     0
2016-01-01 07:59:08.700     0
2016-01-01 08:41:23.400     1
2016-01-01 08:46:58.690     0
2016-01-01 09:11:14.070     0
2016-01-01 09:18:26.300     0
2016-01-01 11:16:49.860     0
2016-01-01 11:25:04.500     1
2016-01-01 11:39:39.800   811
2016-01-01 12:25:51.710     0
2016-01-01 12:36:14.000     0
2016-01-01 13:26:38.020     0
2016-01-01 13:40:30.650    27
2016-01-01 15:02:16.740     0
2016-01-01 16:42:22.600     0
...                       ...
2016-10-29 21:11:29.150   186
2016-10-29 21:48:31.290    13
2016-10-29 22:01:39.050     1
2016-10-29 23:17:31.270     1
2016-10-29 23:57:08.700     7
2016-10-30 00:13:39.110    26
2016-10-30 00:25:14.920     1
2016-10-30 03:47:38.480     7
2016-10-30 04:01:47.390    65
2016-10-30 04:45:04.670     3
2016-10-30 04:49:40.900     1
2016-10-30 05:27:04.870     5
2016-10-30 06:40:19.200  1104
2016-10-30 06:57:34.220     2
2016-10-30 07:13:06.620     1
2016-10-30 08:36:01.000     4
2016-10-30 10:21:02.400    37
2016-10-30 12:07:02.010    13
2016-10-30 13:25:47.310     5
2016-10-30 13:34:55.680     5
2016-10-30 14:33:21.710     1
2016-10-30 14:42:11.810     3
2016-10-30 17:58:04.260    12
2016-10-30 18:21:09.930     4
2016-10-30 19:26:46.950     6
2016-11-01 02:48:19.530     1
2016-11-01 07:56:40.840    19
2016-11-01 08:52:17.913     1
2016-11-01 11:02:41.470    36
2016-11-01 12:18:38.460     0

[14627 rows x 1 columns]

In [247]:
df.updated

time
2016-01-30 23:59:55.340    1454201165963
2016-01-30 23:57:38.000    1460674296040
2016-01-30 23:51:10.000    1454847710351
2016-01-30 23:47:10.000    1460674296040
2016-01-30 23:46:44.370    1463165990000
2016-01-30 23:45:46.070    1454475964467
2016-01-30 23:42:01.000    1454847708835
2016-01-30 23:35:52.000    1460674296040
2016-01-30 23:25:39.800    1454368392180
2016-01-30 23:25:30.398    1454197659519
2016-01-30 23:25:13.360    1460674296040
2016-01-30 23:23:36.555    1454197288338
2016-01-30 23:20:41.000    1454847708184
2016-01-30 23:19:31.000    1454847707511
2016-01-30 23:17:48.000    1454847596329
2016-01-30 23:15:12.000    1454847679819
2016-01-30 23:08:41.000    1454847706827
2016-01-30 22:53:13.330    1460674296040
2016-01-30 22:49:25.710    1454196124807
2016-01-30 22:44:52.000    1454847706235
2016-01-30 22:43:39.000    1454847705524
2016-01-30 22:36:43.500    1460674296040
2016-01-30 22:23:53.260    1463165989000
2016-01-30 22:21:38.000    1454847704902
2016-01-30 22:21:01.400    1460674296040
2016-01-30 22:16:42.000    1460674296040
2016-01-30 22:16:35.000    1454847595494
2016-01-30 22:12:41.000    1454847594804
2016-01-30 22:07:58.800    1459286542174
2016-01-30 22:07:36.450    1460674296040
                               ...
2016-11-01 07:32:48.670    1477986542461
2016-11-01 07:26:41.300    1478003195712
2016-11-01 06:38:31.900    1477983314242
2016-11-01 06:31:45.610    1477982101714
2016-11-01 05:44:22.850    1477979275419
2016-11-01 05:36:41.030    1477979357860
2016-11-01 05:22:48.330    1477978622170
2016-11-01 05:09:23.670    1477977168140
2016-11-01 04:13:55.930    1477975503048
2016-11-01 04:13:21.360    1477974662017
2016-11-01 04:12:21.650    1477974168800
2016-11-01 03:02:17.260    1477979066060
2016-11-01 02:53:48.060    1477969049745
2016-11-01 02:48:19.530    1477974404932
2016-11-01 02:41:50.000    1477978384632
2016-11-01 02:40:26.538    1477971686971
2016-11-01 02:31:05.000    1477978384015
2016-11-01 02:20:52.720    1477967007191
2016-11-01 02:17:48.000    1477978383309
2016-11-01 02:04:53.160    1477966080950
2016-11-01 02:01:52.144    1477971306447
2016-11-01 01:51:44.042    1477972060650
2016-11-01 01:42:14.000    1477978382660
2016-11-01 01:33:03.780    1477964633510
2016-11-01 01:03:07.380    1477966441714
2016-11-01 00:40:24.200    1477979732925
2016-11-01 00:33:25.250    1477960511149
2016-11-01 00:10:01.000    1477976279767
2016-11-01 00:08:03.000    1477976309111
2016-11-01 00:07:40.300    1477978510541
Name: updated, dtype: object

In [285]:
n1 = 'nilav'
n2 = 'ria'

"hi there %s whose name is %s" % (n1,n2)

'hi there nilav whose name is ria'

In [403]:
from IPython.display import HTML
import folium
from folium.plugins import MarkerCluster

# def display(m, height=300):
#     """Takes a folium instance and embed HTML."""
#     m._build_map()
#     srcdoc = m.HTML.replace('"', '&quot;')
#     embed = HTML('<iframe srcdoc="{0}" '
#                  'style="width: 100%; height: {1}px; '
#                  'border: none"></iframe>'.format(srcdoc, height))
#     return embed

In [381]:

map_osm = folium.Map(location=[45.5236, -122.6750])
map_osm.save('osm.html')

map_1 = folium.Map(location=[45.372, -121.6972], zoom_start=12)
folium.Marker([45.3288, -121.6625], popup='Mt. Hood Meadows').add_to(map_1)
folium.Marker([45.3311, -121.7113], popup='Timberline Lodge').add_to(map_1)
map_1.save('mthood.html')

In [386]:
len(annual_earthquakes)

97356

In [409]:
map_1 = folium.Map(location=[45.372, -121.6972], zoom_start=12)
# folium.Marker([45.3288, -121.6625], popup='Mt. Hood Meadows').add_to(map_1) 
# folium.Marker([45.3311, -121.7113], popup='Timberline Lodge').add_to(map_1) 
lons = list()
lats = list()
for indx,quake in enumerate(annual_earthquakes[0:10000]):
    Y = quake.geometry.coordinates[0]
    X = quake.geometry.coordinates[1]
    lons.append(Y)
    lats.append(X)
    
locations = list(zip(lats, lons))
# cluster = MarkerCluster(np.random.uniform(0, 90, (10, 2))).add_to(map_1)
MarkerCluster(locations).add_to(map_1)
map_1.save('mthood_small.html')

In [402]:
np.random.uniform(0, 90, (10, 2))

array([[ 52.31853745,  38.6153165 ],
       [ 59.66620991,  48.46585132],
       [ 61.43092146,  76.76030841],
       [ 12.18380087,  73.5816945 ],
       [ 82.36745837,  29.30783869],
       [ 11.68158808,  65.99295457],
       [ 71.33581564,   0.99866807],
       [ 89.56210583,  34.72215534],
       [ 38.62708639,  37.14242165],
       [ 83.27393065,  23.78411537]])

In [407]:
annual_earthquakes[0:5]

[{"geometry": {"coordinates": [-122.8478317, 38.836834, 2.65], "type": "Point"}, "id": "nc72586646", "properties": {"alert": null, "cdi": null, "code": "72586646", "detail": "http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=nc72586646&format=geojson", "dmin": 0.009799, "felt": null, "gap": 143, "ids": ",nc72586646,", "mag": 0.43, "magType": "md", "mmi": null, "net": "nc", "nst": 7, "place": "10km W of Cobb, California", "rms": 0.03, "sig": 3, "sources": ",nc,", "status": "automatic", "time": 1454198395340, "title": "M 0.4 - 10km W of Cobb, California", "tsunami": 0, "type": "earthquake", "types": ",general-link,geoserve,nearby-cities,origin,phase-data,scitech-link,", "tz": -480, "updated": 1454201165963, "url": "http://earthquake.usgs.gov/earthquakes/eventpage/nc72586646"}, "type": "Feature"},
 {"geometry": {"coordinates": [-174.4637, 51.6366, 36.2], "type": "Point"}, "id": "us20004w7b", "properties": {"alert": null, "cdi": 1, "code": "20004w7b", "detail": "http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us20004w7b&format=geojson", "dmin": 0.587, "felt": 0, "gap": 259, "ids": ",ak12582317,us20004w7b,", "mag": 2.8, "magType": "ml", "mmi": null, "net": "us", "nst": null, "place": "64km SSW of Atka, Alaska", "rms": 0.28, "sig": 121, "sources": ",ak,us,", "status": "reviewed", "time": 1454198258000, "title": "M 2.8 - 64km SSW of Atka, Alaska", "tsunami": 0, "type": "earthquake", "types": ",cap,dyfi,general-link,geoserve,nearby-cities,origin,phase-data,tectonic-summary,", "tz": -720, "updated": 1460674296040, "url": "http://earthquake.usgs.gov/earthquakes/eventpage/us20004w7b"}, "type": "Feature"},
 {"geometry": {"coordinates": [-150.857, 60.9299, 29.3], "type": "Point"}, "id": "ak12733213", "properties": {"alert": null, "cdi": null, "code": "12733213", "detail": "http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=ak12733213&format=geojson", "dmin": 0.216494, "felt": null, "gap": 86.399993088, "ids": ",ak12733213,", "mag": 1.1, "magType": "ml", "mmi": null, "net": "ak", "nst": 17, "place": "35km NE of Nikiski, Alaska", "rms": 0.6, "sig": 19, "sources": ",ak,", "status": "reviewed", "time": 1454197870000, "title": "M 1.1 - 35km NE of Nikiski, Alaska", "tsunami": 0, "type": "earthquake", "types": ",general-link,geoserve,nearby-cities,origin,tectonic-summary,", "tz": -540, "updated": 1454847710351, "url": "http://earthquake.usgs.gov/earthquakes/eventpage/ak12733213"}, "type": "Feature"},
 {"geometry": {"coordinates": [-163.6422, 53.3946, 25.6], "type": "Point"}, "id": "us20004yjh", "properties": {"alert": null, "cdi": 1, "code": "20004yjh", "detail": "http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us20004yjh&format=geojson", "dmin": 1.21, "felt": 0, "gap": 277, "ids": ",ak12733212,us20004yjh,", "mag": 2.6, "magType": "ml", "mmi": null, "net": "us", "nst": null, "place": "162km ESE of Akutan, Alaska", "rms": 0.21, "sig": 104, "sources": ",ak,us,", "status": "reviewed", "time": 1454197630000, "title": "M 2.6 - 162km ESE of Akutan, Alaska", "tsunami": 0, "type": "earthquake", "types": ",dyfi,general-link,geoserve,nearby-cities,origin,phase-data,tectonic-summary,", "tz": -660, "updated": 1460674296040, "url": "http://earthquake.usgs.gov/earthquakes/eventpage/us20004yjh"}, "type": "Feature"},
 {"geometry": {"coordinates": [147.1911, -2.8872, 10], "type": "Point"}, "id": "us20004w34", "properties": {"alert": null, "cdi": null, "code": "20004w34", "detail": "http://earthquake.usgs.gov/fdsnws/event/1/query?eventid=us20004w34&format=geojson", "dmin": 0.856, "felt": null, "gap": 27, "ids": ",us20004w34,gcmt20160130234644,", "mag": 5.3, "magType": "mb", "mmi": null, "net": "us", "nst": null, "place": "96km S of Lorengau, Papua New Guinea", "rms": 0.74, "sig": 432, "sources": ",us,gcmt,", "status": "reviewed", "time": 1454197604370, "title": "M 5.3 - 96km S of Lorengau, Papua New Guinea", "tsunami": 1, "type": "earthquake", "types": ",cap,geoserve,moment-tensor,nearby-cities,origin,phase-data,tectonic-summary,", "tz": 600, "updated": 1463165990000, "url": "http://earthquake.usgs.gov/earthquakes/eventpage/us20004w34"}, "type": "Feature"}]

In [ ]:
# Pandas with geojson
# http://lenguyenthedat.com/drawing-maps-python/